<style>
  /* Make sure the collapsed menu always stays above page content */
.navbar-collapse {
  background-color: #000;  /* your black background */
  padding: 15px;
  position: relative;
  z-index: 1050; /* higher than cards/images */
}
.btn {
  border-radius: 5rem;
}

</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <img src="/images/logo.png" alt="Airbnb logo" class="me-2" style="width:30px;">
      <span class="fw-bold nav-logo">wanderlust</span>
    </a>

    <!-- Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
     

      <!-- RIGHT SIDE LINKS -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Become a host</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light mx-2" href="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
